@import "../../style.scss";

.profile {
  @include themify($themes) {
    background: themed("bgSoft");

    .images {
      width: 100%;
      height: 300px;
      position: relative;

      .cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .profilePic {
        width: 200px;
        height: 200px;
        object-fit: cover;
        position: absolute;
        border-radius: 50%;
        left: 0;
        right: 0;
        margin: auto;
        top: 200px;
      }
    }

    .profileContainer {
      padding: 20px 70px;

      .uInfo {
        -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        height: 180px;
        border-radius: 20px;
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        background-color: themed("bg");
        color: themed("textColor");

        .left {
          flex: 1;
          display: flex;
          gap: 5px;
          margin-top: 30px;

          a {
            color: themed("textColorSoft");
            text-decoration: none;
          }
        }

        .center {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          margin-top: 45px;

          span {
            font-weight: 500;
            font-size: 30px;
          }

          .info {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .item {
              color: themed("textColorSoft");
              display: flex;
              flex-direction: column;
              align-items: center;

              span {
                font-size: 12px;
              }
            }
          }

          button {
            border: none;
            background-color: #5271ff;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-weight: 500;
            font-size: 16px;
          }
          button:hover {
            background: #3358fd;
          }
        }

        .right {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
      }
    }
  }
}
