@import "../../style.scss";

.home {
  @include themify($themes) {
    color: themed("textColor");
    background: themed("bgSoft");
    padding: 20px 70px;

    @include mobile {
      padding: 10px;
      width: calc(100vw - 20px);
    }

    @include mobilelarge {
      padding: 10px;
      width: calc(100vw - 20px);
    }

    @include tablet {
      padding: 20px;
      width: calc(100vw - 240px);
    }
  }
}
