.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 50px;
  border-bottom: 1px solid lightgray;

  .left {
    display: flex;
    align-items: center;
    gap: 20px;

    span {
      font-weight: bold;
      font-size: 20px;
    }

    .search {
      display: flex;
      align-items: center;
      padding: 5px;
      border-bottom: 1px solid lightgray;
      border-radius: 5px;

      input {
        border: none;
        width: 500px;
        outline-style: none;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 20px;

    .user {
      display: flex;
      align-items: center;
      gap: 5px;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
        font-weight: 500;
      }
    }
  }
}
