@import '../../style.scss';

.rightBar {
  @include themify($themes) {
  flex: 3;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  overflow: scroll;
  color: themed('textColor');
  background: themed('bgSoft');

  &::-webkit-scrollbar {
    display: none;
  }

  .container {
    padding: 20px;

    .item {
      -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      padding: 20px;
      margin-bottom: 20px;
      background: themed('bg');

      span {
        color: themed('textColorSoft');
        font-size: 14px;
      }

      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0px;

        .userInfo {
          display: flex;
          align-items: center;
          gap: 10px;
          position: relative;

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;            
          }

          span {
            color: themed('textColor');
            font-size: 16px;
            font-weight: 500;
          }

          p{
            font-size: 12px;
            color: themed('textColorSoft');
          }

          .online{
            width: 12px;
            height: 12px;
            background-color: limegreen;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 22px;
          }
        }

        span{
          font-size: 12px;
        }
      }
      .buttons {
        display: flex;
        align-items: center;
        gap: 10px;

        button {
          padding: 5px 10px;
          border: none;
          cursor: pointer;
          color: white;
          border-radius: 3px;

          &:first-child {
            background-color: #5271ff;
          }
          &:last-child {
            background-color: #f0544f;
          }
        }
      }
    }
  }
}
}